.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 17%;
  width: 84%;
  height: 20%;
  border-radius: 8px;
  color: white;
  background-color: #005dff;
}

.modalHeader {
  padding: 0.3rem 0 0 1rem;
  background-color: #005dff;
  color: #fe8df2;
  text-align: left;
}

.modalContent {
  text-align: left;
  padding: 0 0 0 1rem;
}

/* @media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
} */
