.cafeItem {
  display: flex;
  justify-content: center;
  margin: 3rem;
  width: 100%;
  /* height: 100%; */
}

.content {
  background-color: cadetblue;
  width: 100%;
  height: 26rem;
  border-radius: 1rem;
}

.cafeInfo {
  padding: 1rem 1rem 0;
  text-align: center;
}

.cafeInfo h2,
h3 {
  margin: 0.5 0 0.5rem 0;
}

.icons {
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-evenly;
  margin: 5rem 0 3rem;
}

.buttons {
  padding: 1rem;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ccc;
}

.buttons button {
  margin: 0.5rem;
}

.mapContainer {
  height: 15rem;
  width: 100%;
}
