.citySearchForm {
  height: 0;
  width: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10rem;
  margin-left: 21rem;
}

.cafes {
  display: flex;
  justify-content: center;
}
