.home {
  width: 100%;
  height: 100%;
}

.homeText {
  margin: 20rem 6rem;
  position: relative;
  color: #fe8df2;
  text-shadow: 1px 1px grey;
  font-size: 1.4rem;
}

.homeText h1 {
  font-weight: bold;
}
