.button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background: #fe8df2;
  color: white;
  width: 9rem;
  display: inline-block;
  margin: 1rem;
  font-size: 0.85rem;
  font-family: 'Poppins';
  font-weight: normal;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background: #fe8df2;
  opacity: 0.7;
}

@media only screen and (max-width: 37.5em) {
  .button {
    font-size: 0.92rem;
  }
}
