/* input[type='text'],
input[type='email'],
input[type='password'], */
.textInput {
  width: 21rem;
  height: 1.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #fe8df2;
  color: white;
  text-align: left;
  font-family: 'Poppins';
}

.textInput:focus {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #fe8df2;
}

.textInput::-webkit-input-placeholder {
  color: #fe8df2;
  text-shadow: 1px 1px grey;
}

label {
  margin-top: 1.5rem;
  font-weight: medium;
  color: #fe8df2;
  text-align: left;
}

.error {
  margin-top: 1rem;
  color: white;
  opacity: 0.5;
}

@media only screen and (max-width: 37.5em) {
  .textInput {
    width: 18rem;
  }
}
